
body{
    background-color: darkcyan;
}
.container{
    display: flex;
    
}




.button{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button span{
    
    font-size: 2em;
    font-family: consolas;
}