/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 200px;
    background-color: lightblue;
}
#bovenstemiddenstuk{
    width: 800px;
    height: 30px;
    background-color: white;
}
#middenstuk{
    width: 800px;
    height: 140px;
    background-color: black;
}
#onderstemiddenstuk{
    width: 800px;
    height: 30px;
    background-color: white;
}

#onderkant{
    width: 800px;
    height: 200px;
    background-color: lightblue;
}

