/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 200px;
    background-color: red;
}
#middenstuk{
    width: 800px;
    height: 200px;
    background-color: white;
}

#onderkant{
    width: 800px;
    height: 200px;
    background-color: blue;
}

