/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 700px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#vierkant{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 78, 0);
}

#dot{
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    height: 50%;
    width: 40%;
    margin-top: 120px;
    margin-left: 190px;
}
